<!DOCTYPE html PUBLIC>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Nuevo prospecto</title>
    <link href="./mails.css" rel="stylesheet" type="text/css">

</head>
 
<body class="body contenedor">
    <div class="contenedor-cambioEstatus">
            <div class="img-logo-center">
                    <img src="../../../../public/images/Logo-R.png" width="300"  alt="" />
            </div>

            <div class="contenedor-mail">
                <h1 class="tituloMail">{{LOGO}} </h1>
                <!-- <img class="logoMail" src="../../../../public/images/Logo-R.png" width="250"  alt="" /> -->
                <h1 class="tituloMail">Cambio Estatus </h1>
                
                <img src="../../../../public/images/imagen-mails.png" width="300"  alt="" />

                <div class="textoMail">
                    <label class="lblUser">@{{Usuario}}</label>,  ha cambiado el estauts del prospecto {{Prospecto}} a <span class="spnEstatus">{{Estatus}}</span> en el proyecto {{Proyecto}}.
                </div>

                <button class="btnMail btn-cambioEstatus">Ver Prospecto</button>
            </div>
            
            <div class="contenedor-leyenda">
                <label class="lblcopyright">2020 Humanistics. Todos los Derechos Reservados.</label>
            </div>

    </div>
</body>
</html>
